<!-- /.site-footer -->
<!-- /.site-footer -->
<footer id="colophon" class="site-footer">

    <div class="container">

        <div class="email">
            <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a>
        </div>
        <!-- /.email -->

        <div class="row">

            <div class="col-md-3 col-xs-6">

                <div class="mb-xs-20">
                    <a href="/" class="site-title yellow-text">IDEA<span>CONNECT</span></a>
                    <p class="mb-0">Enriching Young Minds</p>
                </div>

            </div>

            <div class="col-md-3 col-xs-6">

                <div class="mb-xs-20">
                    <h4 class="small-title">Get in touch</h4>
                    <ul class="list-unstyled">
                        <li style="font-size: 12px;">Email: <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a></li>
                    </ul>
                    <!-- /.list-unstyled -->
                </div>

            </div>

            <div class="col-md-3 col-xs-6">

                <div class="mb-xs-20">
                    <h4 class="small-title">Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/missionvission">About Us</a></li>

                    </ul>
                    <!-- /.list-unstyled -->
                </div>

            </div>

            <div class="col-md-3 col-xs-6">

                <div class="mb-xs-20">
                    <h4 class="small-title">Contact</h4>
                    <ul class="list-unstyled">
                        <li>IDEA CONNECT</li>
                        <li>TP 604</li>
                        <li>6th floor, Tech Park</li>
                        <li>Department of CSE</li>
                        <li>SRMIST - KTR</li>
                    </ul>
                    <!-- /.list-unstyled -->
                </div>

            </div>

        </div>

    </div>

    <div class="copyright">
        <p>&copy; 2020 IDEA CONNECT</p>
    </div>
    <!-- /.copyright -->

</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/touchswipe.min.js"></script>
<script src="assets/js/skrollr.min.js"></script>
<script src="assets/js/jquery.countTo.min.js"></script>
<script src="assets/js/script.js"></script>
