<header id="masthead" class="site-header site-header-fill" data-top="background: rgba(59,58,54,1); border-bottom-color: rgba(59,58,54,1);" data-top-bottom="background: rgba(59,58,54,0.5); border-bottom-color: rgba(59,58,54,0.5);">

    <nav id="primary-navigation" class="site-navigation">

        <div class="container-fluid">

            <div class="navbar-header">

                <a href="/" class="site-title yellow-text">IDEA<span class="white-text">CONNECT</span></a>

            </div>
            <!-- /.navbar-header -->

            <div class="main-menu" id="perfect-navbar-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li id="Home"><a href="/">Home</a></li>

                    <li class="dropdown" id="About">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/missionvission">Mission & Vision</a></li>
                            <li><a href="/ulinks">Useful Links</a></li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown" id="Proposals">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Proposals <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/currentProposal">Current Proposals</a></li>
                            <!-- <li><a href="/portal">Submit Proposals</a></li> -->
                            <li><a href="https://tinyurl.com/ideaconnect-proposals" target = "_blank">Submit Proposals</a></li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Domains <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">

                                <li><a href="#">Data Analytics and Security</a></li>
                                <li><a href="#">Forensic Technologies</a></li>
                                <li><a href="#">Computer and Network Security</a></li>
                                <li><a href="#">Mobile and Internet Computing</a></li>
                                <li><a href="#">Bio Computation</a></li>
                                <li><a href="#">Software Defined Communication and Networking</a></li>
                                <li><a href="#">Soft Computing</a></li>
                                <li><a href="#">Biometrics and Bio Informatics</a></li>
                                <li><a href="#">Data Mining</a></li>
                                <li><a href="#">Artificial Intelligence & Machine Learning</a></li>
                                <li><a href="#">Digital Image Processing</a></li>
                                <li><a href="#">Security, Privacy and Trust Computing</a></li>
                                <li><a href="#">Smart Sensor Networks</a></li>
                                <li><a href="#">IOT And Cloud Computing</a></li>
                                <li><a href="#">Smart Communication Society</a></li>
                                <li><a href="#">Cyber Physical Systems</a></li>
                                <li><a href="#">Service Oriented Architecture & Web Service</a></li>
                                <li><a href="#">Natural Language Processing and Regional Language Computing</a></li>
                                <li><a href="#">Parallel Computing</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->


                    <li class="dropdown" id="Resources">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Resources <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/researchlab">Research Labs</a></li>

                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- Below is the link for registration inside the portal -->
                    <!-- <li id="auth">
                        <a href="<%=link%>">
                            <%=auth%>
                        </a>
                    </li> -->
                    <li id="auth"> <a href="https://tinyurl.com/ideaconnect-proposals" target="_blank">Register</a> </li>

                </ul>
                <!-- /.navbar-nav -->

            </div>
            <!-- /.navbar-collapse -->

        </div>

    </nav>
    <!-- /.site-navigation -->

</header>