<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Research | IdeaConnect</title>
    <meta name="description" content="IdeaConnect">
    <meta name="author" content="Souvk Santra">
    <meta name="keywords" content="html, css, twitter bootstrap, javascript, jquery, responsive">


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <link href="assets/css/colors.css" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header id="masthead" class="site-header site-header-fill" data-top="background: rgba(59,58,54,1); border-bottom-color: rgba(59,58,54,1);" data-top-bottom="background: rgba(59,58,54,0.5); border-bottom-color: rgba(59,58,54,0.5);">

        <nav id="primary-navigation" class="site-navigation">

            <div class="container-fluid">

                <div class="navbar-header">

                    <a href="/" class="site-title yellow-text">IDEA<span class="white-text">CONNECT</span></a>

                </div>
                <!-- /.navbar-header -->

                <div class="main-menu" id="perfect-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="/">Home</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/missionvission">Mission & Vision</a></li>
                                <li><a href="/ulinks">Useful Links</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="active" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Proposals <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/currentProposal">Current Proposals</a></li>
                                <li><a href="/auth">Submit Proposals</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown 

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Domains <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">

                                <li><a href="#">Data Analytics and Security</a></li>
                                <li><a href="#">Forensic Technologies</a></li>
                                <li><a href="#">Computer and Network Security</a></li>
                                <li><a href="#">Mobile and Internet Computing</a></li>
                                <li><a href="#">Bio Computation</a></li>
                                <li><a href="#">Software Defined Communication and Networking</a></li>
                                <li><a href="#">Soft Computing</a></li>
                                <li><a href="#">Biometrics and Bio Informatics</a></li>
                                <li><a href="#">Data Mining</a></li>
                                <li><a href="#">Artificial Intelligence & Machine Learning</a></li>
                                <li><a href="#">Digital Image Processing</a></li>
                                <li><a href="#">Security, Privacy and Trust Computing</a></li>
                                <li><a href="#">Smart Sensor Networks</a></li>
                                <li><a href="#">IOT And Cloud Computing</a></li>
                                <li><a href="#">Smart Communication Society</a></li>
                                <li><a href="#">Cyber Physical Systems</a></li>
                                <li><a href="#">Service Oriented Architecture & Web Service</a></li>
                                <li><a href="#">Natural Language Processing and Regional Language Computing</a></li>
                                <li><a href="#">Parallel Computing</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Resources <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/researchlab">Research Labs</a></li>

                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->
                        <li>
                            <a href="<%=link%>">
                                <%=auth%>
                            </a>
                        </li>
                    </ul>
                    <!-- /.navbar-nav -->

                </div>
                <!-- /.navbar-collapse -->

            </div>

        </nav>
        <!-- /.site-navigation -->

    </header>
    <!-- /#masthead -->

    <main id="main" class="site-main">


        <h1 class="section-title-big text"><br><br>
            <center>Current Proposals</center>
        </h1>
        <!-- /.portfolio -->
        <h2>&nbsp;&nbsp;Automation in Departmental/Educational Services</h2>
        <h4>&nbsp;&nbsp; <b>Guidelines to the Students:</b></h4>
        <p1>&nbsp;&nbsp; Invited to participate in any of the work lets or you can come with your own creative Stuff!!!<br>&nbsp;&nbsp; The team can be a maximum of 5 members.<br>&nbsp;&nbsp; Detailed explanation/guidance of the selected project will be given
            to the team after the screening process.<br>&nbsp;&nbsp; Interested students are invited to register their details along with the team members and the title of the project. Registration link:<br>&nbsp;&nbsp; <b>Technology:</b> Based on the
            student's prior knowledge.<br>&nbsp;&nbsp; <b>Proposal Format:</b>&nbsp;&nbsp; <br>&nbsp;&nbsp; • Abstract<br>&nbsp;&nbsp; • Introduction <br>&nbsp;&nbsp; • State of the art <br>&nbsp;&nbsp; • Proposed Model <br>&nbsp;&nbsp;&nbsp;&nbsp; ->
            Algorithm
            <br>&nbsp;&nbsp;&nbsp;&nbsp; -> Sequence diagram <br>&nbsp;&nbsp;&nbsp;&nbsp; -> Implementation</p1>



        <div class="w3-container">
            <h2>Worklet-1</h2>
            <p></p>

            <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <center><h1>Title: PhD SCHOLAR TRACKING SYSTEM</h1></center>
                </header>

                <div class="w3-container">
                    <p><b>Current Challenges:</b><br> Difficulty to manage the student progress status. Difficulty to identify the current vacancy of the supervisors<br><br> <b>Project Deliverables:</b><br> A portal to track the progress of scholar and current
                        supervisor status<br><br> <b> Description:</b><br>A portal can be developed to show the following:
                        <br>• Provision to supervisor to track his/her scholar progress
                        <br>• Provision to DRCC members to track the progress of all scholars and status of all supervisors for all semesters (previous and current).
                        <br>• The portal needs to maintain all the scholar details up to date.
                        <br>• A notification message needs to be sent to supervisor/DRCC members to update the progress of the scholars.
                    </p>
                </div>

                <footer class="w3-container w3-yellow">
                    <form action="/portal">
                        <button class="w3-button w3-black" name="title" value="PhD SCHOLAR TRACKING SYSTEM">Submit Proposal</button>
                    </form>
                </footer>
            </div>
        </div>


        <div class="w3-container">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h2>Worklet-2</h2>

            <div class="w3-card-4" style="width:95%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <center><h1>Title: TIMETABLE AUTOMATION</h1></center>
                </header>

                <div class="w3-container">
                    <p><b>Current Challenges:</b><br> As students and faculties strength increases maintaining timetable manually becomes complicated.<br><br> <b>Project Deliverables:</b><br> Portal to organise the subject slots and lab slots for the faculties.<br><br>                        <b>percentage Description:</b><br> A portal or a tool becomes essential to choose the subject slots. Based on the faculty's preferences and availability of the subject the system should frame a timetable for a particular faculty.
                        Care should be taken that the timeslots should not be overlapped for both theory and lab.
                        <br>The admin should view the following:
                        <br>1) Faculty timetable
                        <br>2) Class timetable
                    </p>
                </div>

                <footer class="w3-container w3-yellow">
                    <form action="/portal">
                        <button class="w3-button w3-black" name="title" value="TIMETABLE AUTOMATION">Submit Proposal</button>
                    </form>
                </footer>
            </div>
        </div>

        <div class="w3-container">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h2>Worklet-3</h2>
            <div class="w3-card-4" style="width:90%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <center><h1>Title: STUDENT SKILL TRACKING</h1></center>
                </header>

                <div class="w3-container">
                    <p><b>Current Challenges:</b><br> Face Difficulties for a class advisor/HOD to realise the student with the additional skills and performance analysis of his/her educational record.<br><br> <b>Project Deliverables:</b><br> A graph based
                        skill analysis A text based feedback to the class advisor based on the student's analysis.<br><br> <b>Description:</b><br> A tool to administrate the additional skill set like managerial skills, involvement in academic events,
                        and academic performance tracker from school until current semester in form of a graph. In addition, a text based precise feedback about the student to the class advisor. </p>
                </div>

                <footer class="w3-container w3-yellow">
                    <form action="/portal">
                        <button class="w3-button w3-black" value="STUDENT SKILL TRACKING" name="title">Submit Proposal</button>
                    </form>
                </footer>
            </div>
        </div>

        <!--<div class="w3-container">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h2>Worklet-4</h2>
            <div class="w3-card-4" style="width:70%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <h1>Title: PHD SCHOLAR TRACKING SYSTEM</h1>
                </header>

                <div class="w3-container">
                    <p><b>Current Challenges:</b><br> Difficulty to manage the student progress status Difficulty to identify the current vacancy of the supervisors<br><br> <b>Project Deliverables:</b><br> A portal to track the progress of scholar and current
                        supervisor status
                        <br><br> <b>percentage Description:</b><br> A portal can be developed to show the following:<br> • Provision to supervisor to track his/her scholar progress<br> • Provision to DRCC members to track the progress of all scholars
                        and status of all supervisors<br> • The portal maintains all the scholar details up to date. And intimates the supervisor/DRCC members by a message to delete the update the scholar record based on his/her viva date.</p>
                </div>

                <footer class="w3-container w3-yellow">
                    <button class="w3-button w3-black">Submit Proposal</button>
                </footer>
            </div>
        </div>-->

        <div class="w3-container">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h2>Worklet-4</h2>
            <div class="w3-card-4" style="width:85%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <center><h1>Title: VIRTUAL REALITY BASED TUTORIAL</h1></center>
                </header>

                <div class="w3-container">
                    <p><b>Current Challenges:</b><br> Lack of demonstrated model in existing online courses<br><br> <b>Project Deliverables:</b><br> A pilot tutorial model for any computer based subject.<br><br> <b>percentage Description:</b><br> Implementing
                        AR/VR technology for appropriate computer based courses.</p>
                </div>

                <footer class="w3-container w3-yellow">
                    <form action="/portal">
                        <button class="w3-button w3-black" name="title" value="VIRTUAL REALITY BASED TUTORIAL">Submit Proposal</button>
                    </form>
                </footer>
            </div>
        </div>

        <div class="w3-container">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h2>Worklet-5</h2>
            <div class="w3-card-4" style="width:80%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <center><h1>Title: STUDENT ABROAD PROGRAM</h1></center>
                </header>

                <div class="w3-container">
                    <p><b>Current Challenges:</b><br> No online portal to maintain the status of the SAP students<br><br> <b>Project Deliverables:</b><br> Status of the student and the credits/courses that they have completed through SAP<br><br> <b>percentage Description:</b><br>                        Due to increase of SAP students every academic year, it is difficult to maintain the status of the students and their academic record manually. An online portal with the following details,
                        <br>• Necessary information of the SAP students like,
                        <br>• On-going course of the SAP student and the foreign university
                        <br>• Number of credits earned at the foreign university
                        <br>• Period of stay at the foreign university

                        <br>&nbsp;&nbsp;• Graph based outcomes for the numbers of students that are being sent to abroad.
                        <br>&nbsp;&nbsp;• Foreign university based analysis for consecutive years. </p>
                </div>

                <footer class="w3-container w3-yellow">
                    <form action="/portal">
                        <button class="w3-button w3-black" name="title" value="STUDENT ABROAD PROGRAM">Submit Proposal</button>
                    </form>
                </footer>
            </div>
        </div>

        <!-- <div class="w3-container">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h2>Worklet-7</h2>
            <div class="w3-card-4" style="width:80%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <h1>Title: LAB ATTENDANCE MARKING SYSTEM</h1>
                </header>

                <div class="w3-container">
                    <p>Current Challenges:<br> Time consumption<br><br> Project Deliverables:<br> Face recognition based system<br><br> percentage Description:<br> Teaching time can be improved by having an automated attendance marking system. Face recognition/object
                        recognition system that captures the student face and marks the attendance based on the image captured. </p>
                </div>

                <footer class="w3-container w3-yellow">
                    <button class="w3-button w3-black">Submit Proposal</button>
                </footer>
            </div>
        </div>-->

        <div class="w3-container">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h2>Worklet-6</h2>
            <div class="w3-card-4" style="width:75%;" class="w3-center-align">
                <header class="w3-container w3-yellow">
                    <center><h1>Title: Lab Maintenance Portal</h1></center>
                </header>

                <div class="w3-container">
                    <p>Current Challenges:<br> Due to expansion of academic labs, it is difficult to manage the hard copy of Stock Register and Machine Service Request Register and that results in huge time consumption<br><br> Project Deliverables:<br> e-Stock
                        Register and e-Machine Service Request Register<br><br> percentage Description:<br> The online portal with the different modules, A module for e-Stock Register does the following,
                        <br>• Name and number of Labs , its location with programmer- in - charge
                        <br>• Number of systems present in a particular lab with hardware and software configurations and additional devices such as printer/scanner availability
                        <br>• Status of a system (working /not working/scrapped)
                        <br>• Provision for New system entry and Stock dates of all system
                        <br>• All the labs with occupied/available free slots on all the day orders

                        <br><br>A module for e-Machine Service Request Register

                        <br>• Provision to accept system complaints/queries that includes programmer name, date, lab name and description
                        <br>• Provision for the lab programmer to view the status of his/her queries
                        <br>• Provision for the admin to view and respond to all the lab programmer queries
                        <br>• The complaints made is to be viewed and updated by ITKM service engineer
                        <br>• The leave availed details will be entered by leave Incharge. The details should available in all login.</p>
                </div>

                <footer class="w3-container w3-yellow">
                    <form action="/portal">
                        <button class="w3-button w3-black" name="title" value="LAB MAINTENANCE PORTAL">Submit Proposal</button>
                    </form>
                </footer>
            </div>
        </div>




        &nbsp;&nbsp; &nbsp;&nbsp;

    </main>
    <!-- /.site-main -->
    <!-- /.site-footer -->
    <footer id="colophon" class="site-footer">

        <div class="container">

            <div class="email">
                <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a>
            </div>
            <!-- /.email -->

            <div class="row">

                <div class="col-md-3 col-xs-6">

                    <div class="mb-xs-20">
                        <a href="/" class="site-title yellow-text">IDEA<span>CONNECT</span></a>
                        <p class="mb-0">Enriching Young Minds</p>
                    </div>

                </div>

                <div class="col-md-3 col-xs-6">

                    <div class="mb-xs-20">
                        <h4 class="small-title">Get in touch</h4>
                        <ul class="list-unstyled">
                            <li>Email: <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a></li>
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>

                </div>

                <div class="col-md-3 col-xs-6">

                    <div class="mb-xs-20">
                        <h4 class="small-title">Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="/missionvission">About Us</a></li>
                            <!--<li><a href="/research">Research</a></li>
                            <li><a href="/contact">Contact</a></li>-->
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>

                </div>

                <div class="col-md-3 col-xs-6">

                    <div class="mb-xs-20">
                        <h4 class="small-title">Location</h4>
                        <ul class="list-unstyled">
                            <li>IDEA CONNECT</li>
                            <li>TP 604</li>
                            <li>6th floor, Tech Park</li>
                            <li>Department of CSE</li>
                            <li>SRMIST - KTR</li>
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>

                </div>

            </div>

        </div>

        <div class="copyright">
            <p>&copy; 2019 IDEA CONNECT</p>
        </div>
        <!-- /.copyright -->

    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/skrollr.min.js"></script>
    <script src="assets/js/jquery.countTo.min.js"></script>
    <script src="assets/js/jquery.shuffle.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>