<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mission&Vision | IdeaConnect</title>

    <meta name="description" content="IdeaConnect">
    <meta name="author" content="Souvk Santra">
    <meta name="keywords" content="html, css, twitter bootstrap, javascript, jquery, responsive">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <link href="assets/css/colors.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="portfolio">

    <header id="masthead" class="site-header site-header-fill">

        <nav id="primary-navigation" class="site-navigation">

            <div class="container-fluid">

                <div class="navbar-header">

                    <a href="/" class="site-title yellow-text">IDEA<span class="white-text">CONNECT</span></a>

                </div>
                <!-- /.navbar-header -->

                <div class="main-menu" id="perfect-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="/">Home</a></li>

                        <li class="active" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/missionvission">Mission & Vision</a></li>
                                <li><a href="/ulinks">Useful Links</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Proposals <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/currentProposal">Current Proposals</a></li>
                                <li><a href="/portal">Submit Proposals</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Domains <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">

                                <li><a href="#">Data Analytics and Security</a></li>
                                <li><a href="#">Forensic Technologies</a></li>
                                <li><a href="#">Computer and Network Security</a></li>
                                <li><a href="#">Mobile and Internet Computing</a></li>
                                <li><a href="#">Bio Computation</a></li>
                                <li><a href="#">Software Defined Communication and Networking</a></li>
                                <li><a href="#">Soft Computing</a></li>
                                <li><a href="#">Biometrics and Bio Informatics</a></li>
                                <li><a href="#">Data Mining</a></li>
                                <li><a href="#">Artificial Intelligence & Machine Learning</a></li>
                                <li><a href="#">Digital Image Processing</a></li>
                                <li><a href="#">Security, Privacy and Trust Computing</a></li>
                                <li><a href="#">Smart Sensor Networks</a></li>
                                <li><a href="#">IOT And Cloud Computing</a></li>
                                <li><a href="#">Smart Communication Society</a></li>
                                <li><a href="#">Cyber Physical Systems</a></li>
                                <li><a href="#">Service Oriented Architecture & Web Service</a></li>
                                <li><a href="#">Natural Language Processing and Regional Language Computing</a></li>
                                <li><a href="#">Parallel Computing</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Resources <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/researchlab">Research Labs</a></li>

                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->
                        <li><a href="<%=link%>"><%=auth%></a></li>

                    </ul>
                    <!-- /.navbar-nav -->

                </div>
                <!-- /.navbar-collapse -->

            </div>

        </nav>
        <!-- /.site-navigation -->

    </header>
    <!-- /#masthead -->
    <main id="main" class="site-main">

        <section class="site-section-small section-blog-post">

            <div class="container">

                <div class="text-center">

                    <h1 class="section-title-big">ABOUT US</h1>

                    <p class="section-text">Idea connect is the next step to the students for creating, modelling, designing and exploring their innovations to the real world. The Idea connect platform which provides them enough space and real-time experiences for young budding
                        Engineers.
                    </p>
                    <!-- /.section-text -->

                </div>
                <div class="text-center">

                    <h1 class="section-title-big">VISION</h1>

                    <p class="section-text">To become a world class department in imparting high quality knowledge and in providing students a unique learning and research experience in Computer Science and Engineering.</p>
                    <!-- /.section-text -->

                </div>
                <div class="text-center">

                    <h1 class="section-title-big">MISSION</h1>

                    <p class="section-text">
                        To impart knowledge in cutting edge technologies on part with industrial standards. To collaborate with renowned academic institutions in research and development. To instill societal and ethical responsibilities in all
                        professional activities.<br>
                    </p>
                    <!-- /.section-text -->

                </div>
                <!-- /.text-center -->


                <div class="row">

                    <div class="col-md-9">

                        <div class="row">
                            <!--
                            <div class="col-md-12">
                                <!--Content
                                <div class="container-fluid">
                                    <div class="item">
                                        <img src="assets/img/mvission.jpg" alt="Play" style="width:100%;height:500px;">

                                    </div>
                                </div>-->
                                <!--
                                <div class="container">
                                    <div class="col-sm-10" align="center" style="align-items: center;justify-content:center;font-style:oblique;">
                                        <h4>Research is "creative and systematic work undertaken to increase the stock of knowledge, including knowledge of humans, culture and society, and the use of this stock of knowledge to devise new applications.</h4>
                                    </div>
                                </div>-->

                                <div class="container News" style=" margin-top: 30px; padding:20px;">
                                    <div class=" col-sm-12" align="center">

                                        <div class="" style="font-size:20px;">
                                            <ul style="list-style-type:none;margin:0;padding:0;">
                                                <li>
                                                    <div class="" style="font-style:oblique;">“Arise, awake and stop not, till the goal is achieved.”</div>
                                                    -Swami Vivekanand
                                                </li>
                                                <li>
                                                    <div class="" style="font-style:oblique;">“Great dreams of great dreamers are always transcended.”</div>
                                                    -A P J ABDUL KALAM
                                                </li>
                                                <!--<li>
                                                    <div class="" style="font-style:oblique;">“The computer was born to solve problems that did not exist before.”</div>
                                                    -Bill Gates
                                                </li>
                                                <li>
                                                    <div class="" style="font-style:oblique;">“Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we may fear less.”</div>
                                                    ― Marie Curie</li>
                                                <li>
                                                    <div class="" style="font-style:oblique;">“Science without religion is lame, religion without science is blind.”</div>
                                                    ― Albert Einstein</li>
                                                <li>
                                                    <div class="" style="font-style:oblique;">“Imagination is more important than knowledge.”</div>
                                                    - Albert Einstein</li>
                                                <li>
                                                    <div class="" style="font-style:oblique;">“If I have seen further it is by standing on the shoulders of Giants.”</div> ― Isaac Newton</li>
                                                --></ul>

                                        </div>

                                    </div>
                                </div>



                                <!-- /.site-footer -->
                                <!-- /.site-footer -->
        <footer id="colophon" class="site-footer">

            <div class="container">

                <div class="email">
                    <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a>
                </div>
                <!-- /.email -->

                <div class="row">

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <a href="/" class="site-title yellow-text">IDEA<span>CONNECT</span></a>
                            <p class="mb-0">Enriching Young Minds</p>
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <h4 class="small-title">Get in touch</h4>
                            <ul class="list-unstyled">
                                <li>Email: <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a></li>
                            </ul>
                            <!-- /.list-unstyled -->
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <h4 class="small-title">Links</h4>
                            <ul class="list-unstyled">
                                <li><a href="/missionvission">About Us</a></li>
                                
                            </ul>
                            <!-- /.list-unstyled -->
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <h4 class="small-title">Location</h4>
                            <ul class="list-unstyled">
                                <li>IDEA CONNECT</li>
                                <li>TP 604</li>
                                <li>6th floor, Tech Park</li>
                                <li>Department of CSE</li>
                                <li>SRMIST - KTR</li>
                            </ul>
                            <!-- /.list-unstyled -->
                        </div>

                    </div>

                </div>

            </div>

            <div class="copyright">
                <p>&copy; 2019 IDEA CONNECT</p>
            </div>
            <!-- /.copyright -->

        </footer>

                                <!-- Bootstrap core JavaScript
    ================================================== -->
                                <!-- Placed at the end of the document so the pages load faster -->
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                                <script src="assets/js/bootstrap.min.js"></script>
                                <script src="assets/js/jquery.slicknav.min.js"></script>
                                <script src="assets/js/slick.min.js"></script>
                                <script src="assets/js/touchswipe.min.js"></script>
                                <script src="assets/js/skrollr.min.js"></script>
                                <script src="assets/js/jquery.countTo.min.js"></script>
                                <script src="assets/js/script.js"></script>

</body>

</html>
