<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Useful Links | IdeaConnect</title>

    <meta name="description" content="IdeaConnect">
    <meta name="author" content="Souvk Santra">
    <meta name="keywords" content="html, css, twitter bootstrap, javascript, jquery, responsive">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <link href="assets/css/colors.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header id="masthead" class="site-header site-header-fill">

        <nav id="primary-navigation" class="site-navigation">

            <div class="container-fluid">

                <div class="navbar-header">

                    <a href="/" class="site-title yellow-text">IDEA<span class="white-text">CONNECT</span></a>

                </div>
                <!-- /.navbar-header -->

                <div class="main-menu" id="perfect-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="/">Home</a></li>

                        <li class="active" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/missionvission">Mission & Vision</a></li>
                                <li><a href="/ulinks">Useful Links</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Proposals <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/currentProposal">Current Proposals</a></li>
                                <li><a href="/auth">Submit Proposals</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Domains <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">

                                <li><a href="#">Data Analytics and Security</a></li>
                                <li><a href="#">Forensic Technologies</a></li>
                                <li><a href="#">Computer and Network Security</a></li>
                                <li><a href="#">Mobile and Internet Computing</a></li>
                                <li><a href="#">Bio Computation</a></li>
                                <li><a href="#">Software Defined Communication and Networking</a></li>
                                <li><a href="#">Soft Computing</a></li>
                                <li><a href="#">Biometrics and Bio Informatics</a></li>
                                <li><a href="#">Data Mining</a></li>
                                <li><a href="#">Artificial Intelligence & Machine Learning</a></li>
                                <li><a href="#">Digital Image Processing</a></li>
                                <li><a href="#">Security, Privacy and Trust Computing</a></li>
                                <li><a href="#">Smart Sensor Networks</a></li>
                                <li><a href="#">IOT And Cloud Computing</a></li>
                                <li><a href="#">Smart Communication Society</a></li>
                                <li><a href="#">Cyber Physical Systems</a></li>
                                <li><a href="#">Service Oriented Architecture & Web Service</a></li>
                                <li><a href="#">Natural Language Processing and Regional Language Computing</a></li>
                                <li><a href="#">Parallel Computing</a></li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Resources <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/researchlab">Research Labs</a></li>

                            </ul>
                            <!-- /.dropdown-menu -->
                        </li>
                        <!-- /.dropdown -->
                        <li><a href="<%=link%>"><%=auth%></a></li>
                    </ul>
                    <!-- /.navbar-nav -->

                </div>
                <!-- /.navbar-collapse -->

            </div>

        </nav>
        <!-- /.site-navigation -->

    </header>
    <!-- /#masthead -->

    <div class="hero hero-max-720 hero-ui-elements background-overlay">

        <div class="hero-text">
            <h1 class="white-text">Useful Links</h1>
        </div>
        <!-- /.hero-text -->

        <div class="hero-arrow">
            <a class="scrollTo" href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
        <!-- /.hero-arrow -->

    </div>
    <!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section-small ui-elements">

            <div class="container">


                <div class=""><b><h2>Useful links:</b></h2>
                </div>
                <div class="">
                    <ul>
                        <li>NAE Grand Challenges: <a href="http://www.engineeringchallenges.org">http://www.engineeringchallenges.org</a></li>
                        <li> ATAL Grand Challenge: <a href="http://www.niti.gov.in/content/atal-grand-challenge-awards">http://www.niti.gov.in/content/atal-grand-challenge-awards</a>
                            </li>
                            <li>Department of CSE: <a href="https://www.srmist.edu.in/virtual/dep/e_t/computer_science/1/66.html ">https://www.srmist.edu.in/virtual/dep/e_t/computer_science/1/66.html </a></li>
                    </ul>
                </div>



                <!-- /.site-footer -->
        <footer id="colophon" class="site-footer">

            <div class="container">

                <div class="email">
                    <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a>
                </div>
                <!-- /.email -->

                <div class="row">

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <a href="/" class="site-title yellow-text">IDEA<span>CONNECT</span></a>
                            <p class="mb-0">Enriching Young Minds</p>
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <h4 class="small-title">Get in touch</h4>
                            <ul class="list-unstyled">
                                <li>Email: <a href="mailto:ideaconnect.cse.ktr@srmist.edu.in">ideaconnect.cse.ktr@srmist.edu.in</a></li>
                            </ul>
                            <!-- /.list-unstyled -->
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <h4 class="small-title">Links</h4>
                            <ul class="list-unstyled">
                                <li><a href="/missionvission">About Us</a></li>
                                <!--<li><a href="/research">Research</a></li>
                                <li><a href="/contact">Contact</a></li>-->
                            </ul>
                            <!-- /.list-unstyled -->
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-6">

                        <div class="mb-xs-20">
                            <h4 class="small-title">Location</h4>
                            <ul class="list-unstyled">
                                <li>IDEA CONNECT</li>
                                <li>TP 604</li>
                                <li>6th floor, Tech Park</li>
                                <li>Department of CSE</li>
                                <li>SRMIST - KTR</li>
                            </ul>
                            <!-- /.list-unstyled -->
                        </div>

                    </div>

                </div>

            </div>

            <div class="copyright">
                <p>&copy; 2019 IDEA CONNECT</p>
            </div>
            <!-- /.copyright -->

        </footer>
                    <!-- /.copyright -->
                    <!-- Bootstrap core JavaScript
    ================================================== -->
                    <!-- Placed at the end of the document so the pages load faster -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    <script src="assets/js/bootstrap.min.js"></script>
                    <script src="assets/js/jquery.slicknav.min.js"></script>
                    <script src="assets/js/slick.min.js"></script>
                    <script src="assets/js/touchswipe.min.js"></script>
                    <script src="assets/js/skrollr.min.js"></script>
                    <script src="assets/js/jquery.countTo.min.js"></script>
                    <script src="assets/js/script.js"></script>

</body>

</html>
