<!DOCTYPE html>
<html lang="en">

    <% include ./partials/home_head %>

<body>

    <script type="text/javascript">
        $(document).ready(()=>{
            $('#About').addClass("active");
        });
    </script>

    <% include ./partials/home_header %>
    <!-- /#masthead -->


    <div class="hero hero-max-720 hero-about-us background-overlay">

        <div class="hero-text">
            <h1 class="white-text">About Us</h1>
        </div>
        <!-- /.hero-text -->
        <div class="hero-arrow">
            <a class="scrollTo" href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
        <!-- /.hero-arrow -->

    </div>
    <!-- /.hero -->



    <!-- /.site-footer -->
    <% include ./partials/home_footer %>

</body>

</html>