<!DOCTYPE html>
<html lang="en">

<% include ./partials/home_head %>

    <body>

        <script type="text/javascript">
            $(document).ready(() => {
                $('#Proposals').addClass("active");
            });
        </script>

        <% include ./partials/home_header %>
            <!-- /#masthead -->

            <main id="main" class="site-main">


                <h1 class="section-title-big text"><br><br>
                    <center>Current Proposals</center>
                </h1>
                <!-- /.portfolio -->
                <h2>&nbsp;&nbsp;Automation in Departmental/Educational Services</h2>
                <h4>&nbsp;&nbsp; <b>Guidelines to the Students:</b></h4>
                <p1>&nbsp;&nbsp; Invited to participate in any of the worklets or you can come with your own creative Stuff!!!<br>&nbsp;&nbsp; The team can be a maximum of 2-3 members.<br>&nbsp;&nbsp; Detailed explanation/guidance of the selected project will
                    be given to the team after the screening process.<br>&nbsp;&nbsp; Interested students are invited to register their details along with the team members and the title of the project.<br>&nbsp;&nbsp; <b>Technology:</b> Based on the student's
                    prior knowledge.<br>&nbsp;&nbsp; <b>Proposal Format:</b>&nbsp;&nbsp; <br>&nbsp;&nbsp; • Abstract<br>&nbsp;&nbsp; • Introduction <br>&nbsp;&nbsp; • State of the art <br>&nbsp;&nbsp; • Proposed Model <br>&nbsp;&nbsp;&nbsp;&nbsp; -> Algorithm
                    <br>&nbsp;&nbsp;&nbsp;&nbsp; -> Sequence diagram <br>&nbsp;&nbsp;&nbsp;&nbsp; -> Implementation</p1>



                <div class="w3-container">
                    <h2>Worklet-1</h2>
                    <p></p>

                    <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                        <header class="w3-container w3-yellow">
                            <center>
                                <h1>Title: FINAL YEAR PROJECT MANAGEMENT SYSTEM</h1>
                            </center>
                        </header>

                        <div class="w3-container">
                            <p><b>Current Challenges:</b><br> Every year few projects are redundant as the projects panels are distributed to meet the students' strength.<br><br> <b>Project Description:</b><br> A portal or a tool becomes essential to eliminate
                                the redundancy of the project that should take title, technology and abstract of the project as inputs. Based on these entries the content and conceptual similarity of one team's entry is checked across all other entries.
                                If there is a higher percentage of similarity between two entries, a notification message should be sent to the project coordinator with the details of the project indicating the attempt of similar entry in the portal.<br><br>                                <b>Project Deliverables:</b><br> Notification messages should be sent to project co-ordinator based on the relevancy percentage.
                            </p>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <form action="/portal" target="_blank">
                                <button class="w3-button w3-black" name="title" value="PhD SCHOLAR TRACKING SYSTEM">Submit Proposal</button>
                            </form>
                        </footer>
                    </div>
                </div>


                <div class="w3-container">
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <h2>Worklet-2</h2>

                    <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                        <header class="w3-container w3-yellow">
                            <center>
                                <h1>Title: TIMETABLE AUTOMATION</h1>
                            </center>
                        </header>

                        <div class="w3-container">
                            <p><b>Current Challenges:</b><br> As students and faculties strength increases maintaining timetable manually becomes complicated<br><br> <b>Project Description:</b><br> A portal or a tool becomes essential to choose the subject
                                slots. Based on the faculty's preferences and availability of the subject the system should frame a timetable for a particular faculty. Care should be taken that the timeslots should not be overlapped for both theory and
                                lab.
                                <br>The admin should view the following:
                                <br>1) Faculty timetable
                                <br>2) Class timetable.<br><br> <b>Project Deliverables:</b><br> Portal to organise the subject slots and lab slots for the faculties.
                            </p>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <form action="/portal" target="_blank">
                                <button class="w3-button w3-black" name="title" value="TIMETABLE AUTOMATION">Submit Proposal</button>
                            </form>
                        </footer>
                    </div>
                </div>


                <div class="w3-container">
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <h2>Worklet-3</h2>
                    <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                        <header class="w3-container w3-yellow">
                            <center>
                                <h1>Title: VIRTUAL REALITY BASED TUTORIAL</h1>
                            </center>
                        </header>

                        <div class="w3-container">
                            <p><b>Current Challenges:</b><br> Lack of demonstrated model in existing online courses<br><br> <b>Project Description:</b><br> Implementing AR/VR technology for appropriate computer based courses.<br><br> <b>Project Deliverables:</b><br>                                A pilot tutorial model for any computer based subject.</p>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <form action="/portal" target="_blank">
                                <button class="w3-button w3-black" name="title" value="VIRTUAL REALITY BASED TUTORIAL">Submit Proposal</button>
                            </form>
                        </footer>
                    </div>
                </div>


                <div class="w3-container">
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <h2>Worklet-4</h2>
                    <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                        <header class="w3-container w3-yellow">
                            <center>
                                <h1>Title: LAB MAINTENANCE PORTAL</h1>
                            </center>
                        </header>

                        <div class="w3-container">
                            <p><b>Current Challenges:</b><br> Due to expansion of academic labs, it is difficult to manage the hard copy of Stock Register and Machine Service Request Register and that results in huge time consumption<br><br> <b>Project Description:</b><br>                                The online portal with the different modules, A module for e-Stock Register does the following,
                                <br>• Name and number of Labs , its location with programmer- in - charge
                                <br>• Number of systems present in a particular lab with hardware and software configurations and additional devices such as printer/scanner availability
                                <br>• Status of a system (working /not working/scrapped)
                                <br>• Provision for New system entry and Stock dates of all system
                                <br>• All the labs with occupied/available free slots on all the day orders

                                <br><br>A module for e-Machine Service Request Register

                                <br>• Provision to accept system complaints/queries that includes programmer name, date, lab name and description
                                <br>• Provision for the lab programmer to view the status of his/her queries
                                <br>• Provision for the admin to view and respond to all the lab programmer queries
                                <br>• The complaints made is to be viewed and updated by ITKM service engineer
                                <br>• The leave availed details will be entered by leave Incharge. The details should available in all login.<br><br> <b>Project Deliverables:</b><br> e-Stock Register and e-Machine Service Request Register</p>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <form action="/portal" target="_blank">
                                <button class="w3-button w3-black" name="title" value="LAB MAINTENANCE PORTAL">Submit Proposal</button>
                            </form>
                        </footer>
                    </div>
                </div>

                <div class="w3-container">
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <h2>Worklet-5</h2>
                    <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                        <header class="w3-container w3-yellow">
                            <center>
                                <h1>Title: AUGMENTED REALITY</h1>
                            </center>
                        </header>

                        <div class="w3-container">
                            <p><b>Current Challenges:</b><br> As faculties strength is incresing, maintaining them in a
                            database is convinient but manually filling and sorting the details gets complicated.
                            <br> <br> <b>Project Description: </b> <br>A voice based tool which accepts one input as audio 
                            and searches efficiently in the database for a particular detail and pops out with an
                            audio/text information.
                            <br><br><b>Project Deliverables:</b><br> A tool to analyze the database.</p>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <form action="/portal" target="_blank">
                                <button class="w3-button w3-black" name="title" value="Augmented Reality">Submit Proposal</button>
                            </form>
                        </footer>
                    </div>
                </div>

                <div class="w3-container">
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <h2>Worklet-6</h2>
                    <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                        <header class="w3-container w3-yellow">
                            <center>
                                <h1>Title: ONLINE EXAM PORTAL</h1>
                            </center>
                        </header>

                        <div class="w3-container">
                            <p><b>Current Challenges:</b><br> It is difficult to monitor students during online exam
                            <br><br> <b>Project Description:</b> <br>A Portal thats conducts the exam, opening a full screen windows,
                            , where students won't be allowed to minimize or change the screen. A windows to view the 
                            students video. An alert message when the windows is left inactive for 10 minutes or if the 
                            student moves out of the captured screen.
                            <br><br><b>Project Deliverables:</b><br> An online Portal to conduct examinations.</p>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <form action="/portal" target="_blank">
                                <button class="w3-button w3-black" name="title" value="Online Exam Portal">Submit Proposal</button>
                            </form>
                        </footer>
                    </div>
                </div>

                <div class="w3-container">
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <h2>Worklet-7</h2>
                    <div class="w3-card-4" style="width:100%;" class="w3-center-align">
                        <header class="w3-container w3-yellow">
                            <center>
                                <h1>Title: DATA COLLECTOR - SINGLE SIGN ON</h1>
                            </center>
                        </header>

                        <div class="w3-container">
                            <p><b>Current Challenges:</b><br>Faculties miss entries in the Google form.
                            <br><br><b>Project Description: </b><br>As the faculty information exists in several
                             databases. It is difficult to extract the necessary data from multiple unstructured
                              data. A portal is required to fetch multiple unstructured data and gives the 
                              required data in a single excel file.
                            <br><br><b>Project Deliverables:</b><br>Portal to access multiple data.</p>
                        </div>

                        <footer class="w3-container w3-yellow">
                            <form action="/portal" target="_blank">
                                <button class="w3-button w3-black" name="title" value="Data Collector - Single Sign on">Submit Proposal</button>
                            </form>
                        </footer>
                    </div>
                </div>

                &nbsp;&nbsp; &nbsp;&nbsp;

            </main>
            <!-- /.site-main -->
            <!-- /.site-footer -->
            <% include ./partials/home_footer %>

    </body>

</html>
