<!DOCTYPE html>
<html lang="en">

<% include ./partials/home_head %>

    <body id="portfolio">
        <script type="text/javascript">
            $(document).ready(() => {
                $('#About').addClass("active");
            });
        </script>

        <% include ./partials/home_header %>
            <!-- /#masthead -->


            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                    body,
                    html {
                        height: 100%;
                        margin: 0;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    * {
                        box-sizing: border-box;
                    }
                    
                    .bg-image {
                        /* The image used */
                        background-image: url("assets/img/portfolio-9.jpg");
                        /* Add the blur effect */
                        filter: blur(8px);
                        -webkit-filter: blur(8px);
                        /* Full height */
                        height: 100%;
                        /* Center and scale the image nicely */
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    /* Position text in the middle of the page/image */
                    
                    .bg-text {
                        background-color: rgb(0, 0, 0);
                        /* Fallback color */
                        background-color: rgba(0, 0, 0, 0.4);
                        /* Black w/opacity/see-through */
                        color: black;
                        font-weight: bold;
                        border: 3px solid #f1f1f1;
                        position: absolute;
                        top: 58%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        width: 100%;
                        padding: 20px;
                        text-align: center;
                    }
                </style>
            </head>



            <body>


                <div class="bg-image"></div>

                <div class="bg-text">

                    <h1 style="font-size:50px">About Us</h1>
                    <p style="font-size:15px">
                        Idea connect is the next step to the students for creating, modelling, designing and <br>exploring their innovations to the real world. The Idea connect platform which <br> provides them enough space and real-time experiences for
                        young budding Engineers.
                        <br><br>

                    </p>

                    <h1 style="font-size:50px">Vision</h1>
                    <p style="font-size:15px">
                        To become a world class department in imparting high quality knowledge and in providing <br> students a unique learning and research experience in <br> Computer Science and Engineering.<br><br>
                    </p>

                    <h1 style="font-size:50px">Mission</h1>
                    <p style="font-size:15px">
                        To impart knowledge in cutting edge technologies on part with industrial standards.<br> To collaborate with renowned academic institutions in research and development.<br> To instill societal and ethical responsibilities in all
                        professional activities.

                    </p>
                </div>


            </body>

            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;







            <% include ./partials/home_footer %>

    </body>

</html>