<!DOCTYPE html>
<html lang="en">

    <% include ./partials/home_head %>

<body>

    <script type="text/javascript">
        $(document).ready(()=>{
            $('#About').addClass("active");
        });
    </script>

    <% include ./partials/home_header %>
    <!-- /#masthead -->

    <div class="hero hero-max-720 hero-ui-elements background-overlay">

        <div class="hero-text">
            <h1 class="white-text">Useful Links</h1>
        </div>
        <!-- /.hero-text -->

        <div class="hero-arrow">
            <a class="scrollTo" href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
        <!-- /.hero-arrow -->

    </div>
    <!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section-small ui-elements">

            <div class="container">


                <div class=""><b><h2>Useful links:</b></h2>
                </div>
                <div class="">
                    <ul>
                        <li>NAE Grand Challenges: <a href="http://www.engineeringchallenges.org">http://www.engineeringchallenges.org</a></li>
                        <li> ATAL Grand Challenge: <a href="http://www.niti.gov.in/content/atal-grand-challenge-awards">http://www.niti.gov.in/content/atal-grand-challenge-awards</a>
                            </li>
                            <li>Department of CSE: <a href="https://www.srmist.edu.in/virtual/dep/e_t/computer_science/1/66.html ">https://www.srmist.edu.in/virtual/dep/e_t/computer_science/1/66.html </a></li>
                    </ul>
                </div>



                <!-- /.site-footer -->
                <% include ./partials/home_footer %>

</body>

</html>
